<div  style="background-color:lightblue">
  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4 mt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center" data-role="footer" data-position="fixed">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-sm">

          <!-- Content -->
          <h5 class="text-uppercase">Address</h5>
          <address>
            <strong>H.No. 1220/16</strong><br>
            Faridabad, 121002<br>
            
            <abbr title="Phone">P:</abbr> (0129)222-3359
            <br>
          </address>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-sm">

          <!-- Links -->
          <h5 class="text-uppercase">Contact</h5>
          <address>
            <strong>Riya Bhatia</strong><br>
            <a>9999407469</a><br>
            <span style = "font-weight:600">College: </span>USICT
          </address>

        </div>
        <!-- Grid column -->

        <div class="col-sm">

          <!-- Links -->
          <h5 class="text-uppercase">Feedback</h5>
          <address>
              Please send me your ideas, bug <br>
              reports, suggestions! Any <br>
               feedback would be appreciated. <br>
          </address>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <div>
          <ul class="social-network social-circle">
              <li><a href="https://www.facebook.com/riyabhatia26" title="Facebook"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="https://www.quora.com/profile/Riya-Bhatia-9" title="Quora"><i class="fab fa-quora"></i></a></li>
              <li><a href="https://www.instagram.com/riyabhatia26/" title="Instagram"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://linkedin.com/in/riyabhatia26/" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="https://github.com/riyabhatia26" title="Github"><i class="fab fa-github-square"></i></a></li>
          </ul>
      </div>

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a  href="mailto:#">riyabhatia26@gmail.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</div>


<!-- fb, linkedin, github, quora, insta -->